body {
    margin: 0;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1e1e1e;
}

.root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
